// main: ../../../../../style.scss
.parishFlex {
  margin: 20px auto 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  position: relative;
  h1 {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
  }
  .parishScroll {
    width: 50%;
    transform: rotate(90deg);
    position: relative;
    margin: 30px auto;
  }
  .carousel-arrows {
    --buttons-arrow-size: 2.75rem;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    margin-bottom: 2.75rem;
    position: absolute;
    bottom: -15%;
    transform: rotate(90deg);
    margin-left: 50px;
    i {
      cursor: pointer;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      background: var(--clr-tertiary);
      border: 1px solid var(--clr-tertiary);
      border-radius: 50%;
      color: #fff;
      font-size: 1rem;
      width: var(--buttons-arrow-size);
      height: var(--buttons-arrow-size);
      margin-right: 1rem;
      opacity: 0.75;
      transition: background 0.25s ease-in, color 0.25s ease-in, opacity 0.25s ease-in;
      &:last-child {
        margin-right: 0;
      }

      &:hover, &:focus {
        background: var(--color-white);
        color: var(--clr-primary);
        opacity: 1;
      }
    }
  }
}
.testimonials-carousel {
    position: relative;
    width: 100%;
    max-width: 100px;
    height: 80px;
    margin: 0 auto;
    -webkit-perspective: 500px;
    perspective: 500px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    .testimonial {
      display: flex;
      flex-wrap: nowrap;
      width: 80px;
      visibility: hidden;
      position: absolute;
      top: -115%;
      left: -73%;
      display: none;
      a {
        text-decoration: none;
      }
      .testimonial-title {
        margin: 0;
        transform: rotate(-90deg);
        width: 300px;
      }
      .testimonial-content {
        font-size: 18px;
      }
      &.active {
        display: block;
      }
    }
}

@media screen and (min-width: $laptop){
  .parishFlex {
    flex-direction: row;
    margin: 20px 10% 0;
    .carousel-arrows {
      margin-left: 0;
    }
  }
  .parishFlex h1 {
    justify-content: flex-start;
    width: 50%;
    margin: 0.67em 0;
  }
  .parishFlex .parishScroll {
    margin: 0;
  }
  .testimonials-carousel {
    .testimonial {
      left: -150%;
      top: -130%;
      .testimonial-title {
        width: 380px;
      }
    }
  }
}

@media screen and (min-width: $desktop){
  .parishFlex {
    flex-direction: row;
    margin: 20px 20% 0;
  }
}
